.register-content {
  --background: #0f0f0f;
  color: white;
}

.container {
  padding: 20px;
}

ion-item {
  --background: transparent;
  --color: white;
  margin-bottom: 10px;
}

ion-input {
  color: white;
}

.botones {
  margin-top: 20px;
}

ion-button {
  border-radius: 20px;
}