<ion-tabs>

  <!--<ion-router-outlet></ion-router-outlet> -->

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="pedidos" href="/tabs/pedidos">
      <ion-icon name="list"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activos" href="/tabs/activos">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Activos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resumen" href="/tabs/resumen">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>