:root {
  --ion-color-primary: #b48755;
  --ion-color-primary-rgb: 180, 135, 85;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #9e774a;
  --ion-color-primary-tint: #c09366;
}